### Use Google API to read Google sheet into Pandas dataframe

**Saved here for use in case**

```
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from gspread_dataframe import get_as_dataframe
import pandas as pd
import numpy as np
 
#Use creds to create a client to interact with the Google Drive API
scope = ['https://spreadsheets.google.com/feeds']
creds = ServiceAccountCredentials.from_json_keyfile_name('client_secret.json', scope)
client = gspread.authorize(creds)
 
#Find a workbook by name and open the first sheet
#Make sure you use the right name here.
sheet = client.open("pubmedarticle").sheet1
 
#convert into dataframe
pub_article = get_as_dataframe(sheet)

print(df.head()) ```

### Read in the major PubMed article file: pubmedarticle.csv

In [1]:
import pandas as pd
import numpy as np

directory = "E:/Pubmed_mindfulness/"
filename = directory + "pubmedarticle.csv"

pub_article = pd.read_csv(filename, na_values=['NULL'])
print(pub_article.shape)
print("The total number of rows:",len(pub_article))
pub_article.head()

(4595, 46)
Total row number: 4595

,PubmedArticleID,PMID,DataSetID,DateCreated,DateCreatedYear,PubDate,PubDateYear,CitationOwner,CitationStatus,ArticleTitle,...,aCity,PubModel,ArticleDateType,ArticleDateYear,PubYearPrint,PubYearElectronic,PubPreferredCiteYear,clinTrialRegistry,funderList,funderBreakdown
0,198887,28963884,164,2017-09,2017,2017-Aug,2017,NLM,Publisher,"Yoga, mindfulness-based stress reduction and s...",...,NaN,Print-Electronic,Electronic,2017.0,2017,2017.0,2017,NaN,NaN,No funders are listed
1,198888,28962535,164,2017-09,2017,2017-Sep,2017,NLM,Publisher,Using Art For Health Promotion: Evaluating an ...,...,NaN,Print-Electronic,Electronic,2017.0,2017,2017.0,2017,NaN,NaN,No funders are listed
2,198889,28961631,164,2017-09,2017,2017-Sep,2017,NLM,Publisher,Does mindfulness meditation improve chronic pa...,...,NaN,Print-Electronic,Electronic,2017.0,2017,2017.0,2017,NaN,NaN,No funders are listed
3,198890,28959369,164,2017-09,2017,2017-Oct,2017,NLM,PubMed-not-MEDLINE,Effects of Tai Chi versus Physical Therapy on ...,...,NaN,Print-Electronic,Electronic,2017.0,2017,2017.0,2017,NaN,NaN,No funders are listed
4,198891,28955285,164,2017-09,2017,NaN,2017,NLM,PubMed-not-MEDLINE,The Buffering Effect of Mindfulness on Abusive...,...,NaN,Electronic-eCollection,Electronic,2017.0,NaN,2017.0,2017,NaN,NaN,No funders are listed

In [2]:
# Take the column names of a dataframe and make the names be a list for further processing
var_list = list(pub_article)
print("List all the columns:",var_list)

List all the columns: ['PubmedArticleID', 'PMID', 'DataSetID', 'DateCreated', 'DateCreatedYear', 'PubDate', 'PubDateYear', 'CitationOwner', 'CitationStatus', 'ArticleTitle', 'JournalTitle', 'Volume', 'Issue', 'Pagination', 'Abstract', 'CitedMedium', 'Affiliation', 'Language', 'JournalNlmUniqueID', 'UserRecordNote', 'JournalCountry', 'Fauthor', 'Fchemical', 'Fgrantinfo', 'Fmesh', 'Fpubtype', 'Farticledata', 'Fhistory', 'FTpmc', 'aSchoolColl', 'aDept', 'aCountry', 'aState', 'Fpopulations', 'FmeshMajor', 'aInstitution', 'aCity', 'PubModel', 'ArticleDateType', 'ArticleDateYear', 'PubYearPrint', 'PubYearElectronic', 'PubPreferredCiteYear', 'clinTrialRegistry', 'funderList', 'funderBreakdown']

### Describe the datatypes of the columns to see whether any needs to be set as string

**Create a variable list which presents the dataframe columns which: **
1. carries values
2. are supposed to be string

In [9]:
# Use select_dtypes() method to select the numeric columns. The output is in the type of a dataframe.
pub_numeric = pub_article.select_dtypes(include = [np.number])

# Select the row with the index label "count" from the description dataframe.The output is a Pandas series.
# This row now as a series has index labels which represent the original dataframe variables/columns.
subSeries = pub_numeric.describe().loc["count"]

# Because the columns of the numeric dataframe are supposed to be numeric, 
# that count == 0.0 means all the values are missing.These columns should be dropped.
varlist_miss = subSeries[subSeries == 0.0].index.tolist() # variable list used to drop the columns.

print("All missing values:",varlist_miss)

# The result of this step is a list, varlist_nomiss of which the elements represent the dataframe columns
# which has at least one non-missing value.
# This list is needed for converting the values of the columns in the original dataframe into string.
varlist_nomiss = subSeries[subSeries > 0].index.tolist() # variable list used to convert the numeric to be string

print("No missing values:",varlist_nomiss)

All missing values: ['Pagination', 'Abstract', 'Affiliation', 'UserRecordNote', 'Fauthor', 'Fchemical', 'Fgrantinfo', 'Fmesh', 'Fpubtype', 'Farticledata', 'Fhistory', 'aSchoolColl', 'aDept', 'aCountry', 'aState', 'Fpopulations', 'FmeshMajor', 'aInstitution', 'aCity', 'clinTrialRegistry']
No missing values: ['PubmedArticleID', 'PMID', 'DataSetID', 'DateCreatedYear', 'ArticleDateYear', 'PubYearElectronic']

E:\WinPython-64bit-3.4.4.4Qt5\python-3.4.4.amd64\lib\site-packages\numpy\lib\function_base.py:4269: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

In [4]:
# Drop the columns with all missing values.
temp = pub_article.drop(varlist_miss, axis=1)

print("List all the columns each of which carries at least one value:",list(temp)) # columns with values.
print()
print("The total number of columns in dataframe:",len(list(temp)))

List all the columns each of which carries at least one value: ['PubmedArticleID', 'PMID', 'DataSetID', 'DateCreated', 'DateCreatedYear', 'PubDate', 'PubDateYear', 'CitationOwner', 'CitationStatus', 'ArticleTitle', 'JournalTitle', 'Volume', 'Issue', 'CitedMedium', 'Language', 'JournalNlmUniqueID', 'JournalCountry', 'FTpmc', 'PubModel', 'ArticleDateType', 'ArticleDateYear', 'PubYearPrint', 'PubYearElectronic', 'PubPreferredCiteYear', 'funderList', 'funderBreakdown']

The total number of columns in dataframe: 26

**2. Construct a new dataframe named "temp" by converting the ID and date-related numeric columns into string**

In [5]:
for var in varlist_nomiss:
    if (var.find("ID") > -1) or (var.find("Date") > -1) or (var.find("Year") > -1) or \
    (var.find("Month") > -1) or (var.find("Day") > -1):
        temp[var] = temp[var].astype(str)
        print(temp[var].describe())
        print()

count       4595
unique      4595
top       200597
freq           1
Name: PubmedArticleID, dtype: object

count         4595
unique        4595
top       22973242
freq             1
Name: PMID, dtype: object

count     4595
unique       1
top        164
freq      4595
Name: DataSetID, dtype: object

count     4595
unique      33
top       2016
freq       975
Name: DateCreatedYear, dtype: object

count     4595
unique      15
top        nan
freq      1657
Name: ArticleDateYear, dtype: object

count     4595
unique      15
top        nan
freq      1657
Name: PubYearElectronic, dtype: object

** Write a function to summarize & describe a string variable/column and make the output a dataframe.**

In [6]:
def str_col_describe(column,df):
    # Calcuate count & make the output as a dataframe.
    col_freq = pd.DataFrame(df[column].value_counts().reset_index())
    
    # Rename the columns of the output dataframe.
    col_freq.columns = [column, "Count"]
    
    # Create a new column named "%" by calculating the rounded percentage multipled by 100.
    total = sum(col_freq["Count"])
    col_freq["%"] = round(100*col_freq["Count"]/total, 2)
    
    return col_freq, total

In [7]:
# Describe all the columns after deleting the empty ones.         
print("All the columns with values-\n",temp.describe(include = [np.object]))

# Selectively look into some columns.
col_exam = ['DateCreated', 'DateCreatedYear', 'PubDate', 'PubDateYear', 'CitationOwner', 'CitationStatus', 'CitedMedium', 'Language', 'JournalCountry', 'FTpmc', 'PubModel', 'ArticleDateType', 'ArticleDateYear', 'PubYearPrint', 'PubYearElectronic', 'PubPreferredCiteYear', 'funderList', 'funderBreakdown']

for e in col_exam:
    a, b = str_col_describe(e,temp)
    print(a)
    print("Total of count=", b)
    print()

All the columns with values-
        PubmedArticleID      PMID DataSetID DateCreated DateCreatedYear  \
count             4595      4595      4595        4595            4595
unique            4595      4595         1         226              33
top             200597  22973242       164     2016-09            2016
freq                 1         1      4595         111             975

         PubDate PubDateYear CitationOwner CitationStatus  \
count       3858        4595          4595           4595
unique       275          36             2              5
top     2017-Aug        2016           NLM        MEDLINE
freq          90         838          4591           3151

                                             ArticleTitle  \
count                                                4593
unique                                               4571
top     Attending to weak signals: the leader's challe...
freq                                                    3

                ...           JournalCountry FTpmc          PubModel  \
count           ...                     4595  1553              4595
unique          ...                       40     1                 5
top             ...            United States     Y  Print-Electronic
freq            ...                     2331  1553              2350

       ArticleDateType ArticleDateYear PubYearPrint PubYearElectronic  \
count             2938            4595         4018              4595
unique               1              15           36                15
top         Electronic             nan         2016               nan
freq              2938            1657          687              1657

       PubPreferredCiteYear     funderList        funderBreakdown
count                  4595            888                   4595
unique                   36            353                      4
top                    2016  NCCIH NIH HHS  No funders are listed
freq                    838             67                   3707

[4 rows x 26 columns]
    DateCreated  Count     %
0       2016-09    111  2.42
1       2016-07    102  2.22
2       2016-08     92  2.00
3       2016-02     90  1.96
4       2017-06     88  1.92
5       2016-04     85  1.85
6       2015-04     84  1.83
7       2016-06     83  1.81
8       2017-05     83  1.81
9       2016-05     81  1.76
10      2017-08     80  1.74
11      2016-03     77  1.68
12      2015-09     76  1.65
13      2017-07     76  1.65
14      2017-02     76  1.65
15      2017-04     73  1.59
16      2016-10     72  1.57
17      2017-03     71  1.55
18      2015-03     68  1.48
19      2015-08     68  1.48
20      2016-12     66  1.44
21      2017-01     66  1.44
22      2014-03     65  1.41
23      2015-05     63  1.37
24      2013-07     61  1.33
25      2015-07     60  1.31
26      2016-01     60  1.31
27      2015-10     59  1.28
28      2014-04     58  1.26
29      2015-06     58  1.26
..          ...    ...   ...
196     1999-07      1  0.02
197     2003-10      1  0.02
198     2002-12      1  0.02
199     2002-08      1  0.02
200     2000-09      1  0.02
201     1990-03      1  0.02
202     1998-12      1  0.02
203     2006-06      1  0.02
204     1992-07      1  0.02
205     2001-05      1  0.02
206     1999-09      1  0.02
207     2002-05      1  0.02
208     2001-12      1  0.02
209     1985-10      1  0.02
210     1985-09      1  0.02
211     1992-12      1  0.02
212     2007-07      1  0.02
213     2006-07      1  0.02
214     1988-06      1  0.02
215     2005-08      1  0.02
216     1994-08      1  0.02
217     2000-11      1  0.02
218     2000-02      1  0.02
219     2000-04      1  0.02
220     2001-03      1  0.02
221     1998-07      1  0.02
222     1996-02      1  0.02
223     2002-10      1  0.02
224     1997-07      1  0.02
225     1997-11      1  0.02

[226 rows x 3 columns]
Total of count= 4595

   DateCreatedYear  Count      %
0             2016    975  21.22
1             2015    745  16.21
2             2017    666  14.49
3             2014    546  11.88
4             2013    412   8.97
5             2012    288   6.27
6             2011    254   5.53
7             2010    189   4.11
8             2009    132   2.87
9             2008    105   2.29
10            2007     78   1.70
11            2006     49   1.07
12            2004     36   0.78
13            2005     30   0.65
14            2003     21   0.46
15            2002     15   0.33
16            2001     13   0.28
17            1999      7   0.15
18            2000      6   0.13
19            1998      4   0.09
20            1985      3   0.07
21            1995      3   0.07
22            1997      3   0.07
23            1990      3   0.07
24            1996      2   0.04
25            1984      2   0.04
26            1992      2   0.04
27            1993      1   0.02
28            1987      1   0.02
29            1988      1   0.02
30            1981      1   0.02
31            1994      1   0.02
32            1982      1   0.02
Total of count= 4595

          PubDate  Count     %
0        2017-Aug     90  2.33
1        2017-Jun     76  1.97
2        2017-Apr     69  1.79
3        2015-Apr     68  1.76
4        2017-Jul     68  1.76
5        2017-Feb     67  1.74
6        2016-Dec     66  1.71
7        2017-May     66  1.71
8        2016-Apr     63  1.63
9        2017-Mar     62  1.61
10       2016-Jul     60  1.56
11       2016-Nov     60  1.56
12       2016-Jun     59  1.53
13       2017-Sep     55  1.43
14        Jan-Feb     54  1.40
15       2014-Apr     53  1.37
16       2016-Sep     53  1.37
17       2016-Aug     53  1.37
18       2015-Sep     50  1.30
19       2017-Jan     50  1.30
20       2016-Oct     50  1.30
21       2016-Mar     48  1.24
22       2015-Jan     47  1.22
23       2015-Oct     47  1.22
24        Jul-Aug     46  1.19
25       2015-Aug     46  1.19
26       2013-Jan     45  1.17
27       2015-Jun     44  1.14
28       2015-Dec     43  1.11
29       2016-Feb     42  1.09
..            ...    ...   ...
245      1989-Dec      1  0.03
246      1994-Aug      1  0.03
247  Oct 24-Nov 6      1  0.03
248      2000-Feb      1  0.03
249      1980-Sep      1  0.03
250      1990-Jul      1  0.03
251     Nov - Dec      1  0.03
252       Oct 2-8      1  0.03
253      2005-Aug      1  0.03
254      2018-Jan      1  0.03
255  -2011 Winter      1  0.03
256      2004-Apr      1  0.03
257      2001-Nov      1  0.03
258        Winter      1  0.03
259     Oct 16-22      1  0.03
260      2003-Aug      1  0.03
261      1995-May      1  0.03
262      2000-Aug      1  0.03
263      1999-Jul      1  0.03
264     Feb 15-21      1  0.03
265     Oct 18-24      1  0.03
266      1998-Dec      1  0.03
267      2003-Jul      1  0.03
268      1982-Apr      1  0.03
269       2017-08      1  0.03
270     Sep - Dec      1  0.03
271      1992-Jul      1  0.03
272      2007-Jul      1  0.03
273      2003-Dec      1  0.03
274       2016-08      1  0.03

[275 rows x 3 columns]
Total of count= 3858

    PubDateYear  Count      %
0          2016    838  18.24
1          2017    764  16.63
2          2015    716  15.58
3          2014    545  11.86
4          2013    429   9.34
5          2012    306   6.66
6          2011    248   5.40
7          2010    191   4.16
8          2009    154   3.35
9          2008    102   2.22
10         2007     86   1.87
11         2006     47   1.02
12         2004     36   0.78
13         2005     31   0.67
14         2003     23   0.50
15         2002     14   0.30
16         2001     13   0.28
17         1999      9   0.20
18         2000      7   0.15
19         1998      5   0.11
20         1995      4   0.09
21  Spring 2017      4   0.09
22         1985      3   0.07
23         1997      3   0.07
24         1992      2   0.04
25         1989      2   0.04
26         1994      2   0.04
27         1984      2   0.04
28         2018      2   0.04
29         1980      1   0.02
30         1987      1   0.02
31         1993      1   0.02
32         1990      1   0.02
33         1996      1   0.02
34         1988      1   0.02
35         1982      1   0.02
Total of count= 4595

  CitationOwner  Count      %
0           NLM   4591  99.91
1           PIP      4   0.09
Total of count= 4595

       CitationStatus  Count      %
0             MEDLINE   3151  68.57
1  PubMed-not-MEDLINE    545  11.86
2          In-Process    440   9.58
3           Publisher    375   8.16
4      In-Data-Review     84   1.83
Total of count= 4595

  CitedMedium  Count      %
0    Internet   3374  73.43
1       Print   1221  26.57
Total of count= 4595

   Language  Count      %
0       eng   4460  97.06
1       fre     42   0.91
2       ger     35   0.76
3       spa     21   0.46
4       dut      5   0.11
5       jpn      5   0.11
6       ita      4   0.09
7       swe      4   0.09
8       heb      3   0.07
9       dan      3   0.07
10      kor      3   0.07
11      chi      2   0.04
12      pol      2   0.04
13      hun      2   0.04
14      fin      1   0.02
15      por      1   0.02
16      nor      1   0.02
17      gre      1   0.02
Total of count= 4595

               JournalCountry  Count      %
0               United States   2331  50.73
1                     England   1231  26.79
2                 Switzerland    256   5.57
3                 Netherlands    211   4.59
4                     Germany     94   2.05
5                     Ireland     72   1.57
6                      Canada     63   1.37
7                       India     39   0.85
8                    Scotland     35   0.76
9                        Iran     30   0.65
10                  Australia     29   0.63
11                New Zealand     26   0.57
12                      Spain     25   0.54
13                     France     24   0.52
14                      Italy     16   0.35
15                    Austria     13   0.28
16                     Sweden     11   0.24
17                    Denmark      9   0.20
18                      China      9   0.20
19                      Japan      8   0.17
20              Korea (South)      7   0.15
21                  Argentina      6   0.13
22  China (Republic : 1949- )      6   0.13
23                    Hungary      6   0.13
24                     Israel      5   0.11
25                    Croatia      4   0.09
26                     Poland      3   0.07
27                      Egypt      3   0.07
28               South Africa      3   0.07
29       United Arab Emirates      3   0.07
30                    Romania      3   0.07
31                     Brazil      2   0.04
32                    Finland      2   0.04
33                   Thailand      2   0.04
34                     Greece      2   0.04
35                      Chile      2   0.04
36                     Serbia      1   0.02
37                  Singapore      1   0.02
38                   Portugal      1   0.02
39                     Norway      1   0.02
Total of count= 4595

  FTpmc  Count      %
0     Y   1553  100.0
Total of count= 1553

                 PubModel  Count      %
0        Print-Electronic   2350  51.14
1                   Print   1657  36.06
2  Electronic-eCollection    314   6.83
3              Electronic    263   5.72
4        Electronic-Print     11   0.24
Total of count= 4595

  ArticleDateType  Count      %
0      Electronic   2938  100.0
Total of count= 2938

   ArticleDateYear  Count      %
0              nan   1657  36.06
1           2016.0    645  14.04
2           2015.0    496  10.79
3           2017.0    473  10.29
4           2014.0    387   8.42
5           2013.0    293   6.38
6           2012.0    216   4.70
7           2011.0    184   4.00
8           2010.0     99   2.15
9           2009.0     69   1.50
10          2008.0     38   0.83
11          2007.0     25   0.54
12          2006.0      9   0.20
13          2004.0      2   0.04
14          2005.0      2   0.04
Total of count= 4595

   PubYearPrint  Count      %
0          2016    687  17.10
1          2017    657  16.35
2          2015    592  14.73
3          2014    459  11.42
4          2013    385   9.58
5          2012    278   6.92
6          2011    227   5.65
7          2010    186   4.63
8          2009    149   3.71
9          2008    102   2.54
10         2007     85   2.12
11         2006     44   1.10
12         2004     35   0.87
13         2005     31   0.77
14         2003     23   0.57
15         2002     14   0.35
16         2001     13   0.32
17         1999      9   0.22
18         2000      7   0.17
19         1998      5   0.12
20         1995      4   0.10
21  Spring 2017      4   0.10
22         1985      3   0.07
23         1997      3   0.07
24         1992      2   0.05
25         1989      2   0.05
26         1994      2   0.05
27         1984      2   0.05
28         1980      1   0.02
29         1987      1   0.02
30         1993      1   0.02
31         1990      1   0.02
32         2018      1   0.02
33         1996      1   0.02
34         1988      1   0.02
35         1982      1   0.02
Total of count= 4018

   PubYearElectronic  Count      %
0                nan   1657  36.06
1             2016.0    645  14.04
2             2015.0    496  10.79
3             2017.0    473  10.29
4             2014.0    387   8.42
5             2013.0    293   6.38
6             2012.0    216   4.70
7             2011.0    184   4.00
8             2010.0     99   2.15
9             2009.0     69   1.50
10            2008.0     38   0.83
11            2007.0     25   0.54
12            2006.0      9   0.20
13            2004.0      2   0.04
14            2005.0      2   0.04
Total of count= 4595

   PubPreferredCiteYear  Count      %
0                  2016    838  18.24
1                  2017    764  16.63
2                  2015    716  15.58
3                  2014    545  11.86
4                  2013    429   9.34
5                  2012    306   6.66
6                  2011    248   5.40
7                  2010    191   4.16
8                  2009    154   3.35
9                  2008    102   2.22
10                 2007     86   1.87
11                 2006     47   1.02
12                 2004     36   0.78
13                 2005     31   0.67
14                 2003     23   0.50
15                 2002     14   0.30
16                 2001     13   0.28
17                 1999      9   0.20
18                 2000      7   0.15
19                 1998      5   0.11
20                 1995      4   0.09
21          Spring 2017      4   0.09
22                 1985      3   0.07
23                 1997      3   0.07
24                 1992      2   0.04
25                 1989      2   0.04
26                 1994      2   0.04
27                 1984      2   0.04
28                 2018      2   0.04
29                 1980      1   0.02
30                 1987      1   0.02
31                 1993      1   0.02
32                 1990      1   0.02
33                 1996      1   0.02
34                 1988      1   0.02
35                 1982      1   0.02
Total of count= 4595

                                            funderList  Count     %
0                                        NCCIH NIH HHS     67  7.55
1                                         NIMH NIH HHS     52  5.86
2                        NCCIH NIH HHS | NCCIH NIH HHS     43  4.84
3                                         NIDA NIH HHS     36  4.05
4                          NIDA NIH HHS | NIDA NIH HHS     31  3.49
5                          NIMH NIH HHS | NIMH NIH HHS     29  3.27
6                                       Wellcome Trust     24  2.70
7                                          NCI NIH HHS     20  2.25
8                                        NIAAA NIH HHS     15  1.69
9                        NIAAA NIH HHS | NIAAA NIH HHS     15  1.69
10                            Medical Research Council     13  1.46
11          NIMH NIH HHS | NIMH NIH HHS | NIMH NIH HHS     11  1.24
12                                       NHLBI NIH HHS     10  1.13
13          NIDA NIH HHS | NIDA NIH HHS | NIDA NIH HHS     10  1.13
14                                        NINR NIH HHS     10  1.13
15                                       NICHD NIH HHS      9  1.01
16   NIMH NIH HHS | NIMH NIH HHS | NIMH NIH HHS | N...      9  1.01
17                           NCI NIH HHS | NCI NIH HHS      9  1.01
18                        NCCIH NIH HHS | NIMH NIH HHS      7  0.79
19                                       NCATS NIH HHS      7  0.79
20                                         NIA NIH HHS      7  0.79
21             NCI NIH HHS | NCI NIH HHS | NCI NIH HHS      6  0.68
22                                             PHS HHS      6  0.68
23   NIDA NIH HHS | NIDA NIH HHS | NIDA NIH HHS | N...      6  0.68
24       NCCIH NIH HHS | NCCIH NIH HHS | NCCIH NIH HHS      6  0.68
25                        NIMH NIH HHS | NCCIH NIH HHS      6  0.68
26   Medical Research Council | Medical Research Co...      6  0.68
27                                Department of Health      6  0.68
28                           NIA NIH HHS | NIA NIH HHS      6  0.68
29                       NCATS NIH HHS | NCATS NIH HHS      6  0.68
..                                                 ...    ...   ...
323                                      NIEHS NIH HHS      1  0.11
324  NCCDPHP CDC HHS | NCI NIH HHS | NIDA NIH HHS |...      1  0.11
325  NCCDPHP CDC HHS | NCCDPHP CDC HHS | NIDA NIH H...      1  0.11
326         NCRR NIH HHS | NCRR NIH HHS | NCRR NIH HHS      1  0.11
327  NIA NIH HHS | NIA NIH HHS | NINDS NIH HHS | NI...      1  0.11
328  NIDA NIH HHS | NIDA NIH HHS | NIDA NIH HHS | N...      1  0.11
329  NCCIH NIH HHS | NCCIH NIH HHS | NCCIH NIH HHS ...      1  0.11
330  NIMH NIH HHS | NCI NIH HHS | NCI NIH HHS | NIM...      1  0.11
331  NCCIH NIH HHS | NCCIH NIH HHS | NIDDK NIH HHS ...      1  0.11
332  NIA NIH HHS | NIA NIH HHS | NIA NIH HHS | NIA ...      1  0.11
333                      NCCIH NIH HHS | NICHD NIH HHS      1  0.11
334  NIDA NIH HHS | NIDA NIH HHS | NCCIH NIH HHS | ...      1  0.11
335  NIDA NIH HHS | NIDA NIH HHS | NIDA NIH HHS | C...      1  0.11
336  NICHD NIH HHS | NIMH NIH HHS | NCCIH NIH HHS |...      1  0.11
337         NCRR NIH HHS | NCATS NIH HHS | NCI NIH HHS      1  0.11
338                         NIDA NIH HHS | NCI NIH HHS      1  0.11
339        NIDA NIH HHS | NCCIH NIH HHS | NIMH NIH HHS      1  0.11
340  NCCIH NIH HHS | NCCIH NIH HHS | NCCIH NIH HHS ...      1  0.11
341  Medical Research Council | Medical Research Co...      1  0.11
342                      NIDDK NIH HHS | NCATS NIH HHS      1  0.11
343  NIDA NIH HHS | NIDA NIH HHS | NIDA NIH HHS | N...      1  0.11
344                             NIMH NIH HHS | PHS HHS      1  0.11
345  NCATS NIH HHS | NIAAA NIH HHS | NIAAA NIH HHS ...      1  0.11
346  NHLBI NIH HHS | NHLBI NIH HHS | NHLBI NIH HHS ...      1  0.11
347       NCCIH NIH HHS | NCRR NIH HHS | NCATS NIH HHS      1  0.11
348                       NICHD NIH HHS | NIMH NIH HHS      1  0.11
349             RRD VA | NINDS NIH HHS | NINDS NIH HHS      1  0.11
350          NIA NIH HHS | NIMH NIH HHS | NIMH NIH HHS      1  0.11
351  NCCIH NIH HHS | NCRR NIH HHS | NCCIH NIH HHS |...      1  0.11
352  NIMH NIH HHS | NCCIH NIH HHS | NCCIH NIH HHS |...      1  0.11

[353 rows x 3 columns]
Total of count= 888

                                     funderBreakdown  Count      %
0                              No funders are listed   3707  80.67
1                    NIH ICs are listed, but not NLM    799  17.39
2  No NIH ICs are listed, however other funders a...     87   1.89
3                      NLM is the only NIH IC listed      2   0.04
Total of count= 4595

In [32]:
# Clean a value in the column PubDateYear, change "Spring 2017" to be "2017".
temp.loc[temp["PubDateYear"] == "Spring 2017", "PubDateYear"] = "2017"

c, d = str_col_describe('PubDateYear',temp)
print(c)
print("Total of count:",d)

   PubDateYear  Count      %
0         2016    838  18.24
1         2017    768  16.71
2         2015    716  15.58
3         2014    545  11.86
4         2013    429   9.34
5         2012    306   6.66
6         2011    248   5.40
7         2010    191   4.16
8         2009    154   3.35
9         2008    102   2.22
10        2007     86   1.87
11        2006     47   1.02
12        2004     36   0.78
13        2005     31   0.67
14        2003     23   0.50
15        2002     14   0.30
16        2001     13   0.28
17        1999      9   0.20
18        2000      7   0.15
19        1998      5   0.11
20        1995      4   0.09
21        1997      3   0.07
22        1985      3   0.07
23        1984      2   0.04
24        1992      2   0.04
25        1989      2   0.04
26        2018      2   0.04
27        1994      2   0.04
28        1988      1   0.02
29        1980      1   0.02
30        1987      1   0.02
31        1993      1   0.02
32        1996      1   0.02
33        1990      1   0.02
34        1982      1   0.02
Total of count: 4595

### Test a Pandas pivot table / Cross table

In [33]:
print("Frequency Table (Language x PubModel):")
pd.crosstab(temp.Language, temp.PubModel, margins=True)

Frequency Table (Language x PubModel):

PubModel,Electronic,Electronic-Print,Electronic-eCollection,Print,Print-Electronic,All
Language,,,,,,
chi,0,0,0,2,0,2
dan,0,0,0,3,0,3
dut,0,0,0,5,0,5
eng,262,11,314,1554,2319,4460
fin,0,0,0,1,0,1
fre,0,0,0,33,9,42
ger,0,0,0,19,16,35
gre,0,0,0,1,0,1
heb,0,0,0,3,0,3
hun,0,0,0,2,0,2
ita,1,0,0,3,0,4
jpn,0,0,0,5,0,5
kor,0,0,0,3,0,3
nor,0,0,0,1,0,1
pol,0,0,0,2,0,2
por,0,0,0,1,0,1
spa,0,0,0,15,6,21
swe,0,0,0,4,0,4
All,263,11,314,1657,2350,4595

In [34]:
print("Row Percentage (Language x PubModel):")
pd.crosstab(temp.Language, temp.PubModel, normalize = "index", margins=True)

Row Percentage (Language x PubModel):

PubModel,Electronic,Electronic-Print,Electronic-eCollection,Print,Print-Electronic
Language,,,,,
chi,0.000000,0.000000,0.000000,1.000000,0.000000
dan,0.000000,0.000000,0.000000,1.000000,0.000000
dut,0.000000,0.000000,0.000000,1.000000,0.000000
eng,0.058744,0.002466,0.070404,0.348430,0.519955
fin,0.000000,0.000000,0.000000,1.000000,0.000000
fre,0.000000,0.000000,0.000000,0.785714,0.214286
ger,0.000000,0.000000,0.000000,0.542857,0.457143
gre,0.000000,0.000000,0.000000,1.000000,0.000000
heb,0.000000,0.000000,0.000000,1.000000,0.000000
hun,0.000000,0.000000,0.000000,1.000000,0.000000
ita,0.250000,0.000000,0.000000,0.750000,0.000000
jpn,0.000000,0.000000,0.000000,1.000000,0.000000
kor,0.000000,0.000000,0.000000,1.000000,0.000000
nor,0.000000,0.000000,0.000000,1.000000,0.000000
pol,0.000000,0.000000,0.000000,1.000000,0.000000
por,0.000000,0.000000,0.000000,1.000000,0.000000
spa,0.000000,0.000000,0.000000,0.714286,0.285714
swe,0.000000,0.000000,0.000000,1.000000,0.000000
All,0.057236,0.002394,0.068335,0.360609,0.511425